*{
  box-sizing: border-box;
  }
body{
    background: #eee;
    font-family: sans-serif;
}
main{
  background: white;
  margin: 0 auto;
  padding: 2em;
  max-width: 34em;
  box-shadow: 0.5em 1em 0.5em -0.5em #777;
}
main section article:nth-of-type(odd){
  background: lightgreen;
}
main section article:nth-of-type(even){
  background: coral;
}

.loader{
  background: lightgreen;
}
.hide{
  display: none;
}
.show{
  display: block
}
